.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .search-box {
    form {
      position: relative;
      margin: 0 auto;
      input[type="text"] {
        padding: 0.5rem;
        width: 400px;
        border-radius: 50px;
        border: 1px solid #ccc;
      }
      i {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }
  .navbar-items {
    display: flex;
    align-items: center;
    li {
      margin: 0 0.5rem;
      cursor: pointer;
      list-style: none;
      &:hover {
        color: #ff6b6b;
      }
    }
  }
}
